.heading{
   width: 100%;
   text-align: left;
   
}
.heading h2{
    display: inline;
}

.heading button{
    float: right;
     border-radius: 40%;
     border: 3px solid red;
}

.big_image{
    width: 100%;
}

#start , #status{
    width: 10%;
}

h4{
    background-color: darkred;
    color: white;
    line-height: 2;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}

.instruction_image{
    width: 45%;
}